body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
  opacity:0.5;
}
#u3980 {
  position:absolute;
  left:2px;
  top:428px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3982 {
  position:absolute;
  left:28px;
  top:212px;
  width:362px;
  height:96px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:40px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3984 {
  position:absolute;
  left:28px;
  top:212px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u3986 {
  position:absolute;
  left:32px;
  top:264px;
  width:293px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3988 {
  position:absolute;
  left:32px;
  top:239px;
  width:165px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3988_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3988.mouseOver {
}
#u3988_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3988.mouseDown {
}
#u3988_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3988.selected {
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u3990 {
  position:absolute;
  left:287px;
  top:278px;
  width:26px;
  height:21px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u3992 {
  position:absolute;
  left:325px;
  top:281px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3994 {
  position:absolute;
  left:34px;
  top:283px;
  width:151px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u3996 {
  position:absolute;
  left:271px;
  top:215px;
  width:118px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
#u3999 {
  position:absolute;
  left:24px;
  top:104px;
  width:377px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
#u4000 {
  position:absolute;
  left:8px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:23px;
}
#u4001 {
  position:absolute;
  left:382px;
  top:116px;
  width:6px;
  height:23px;
}
#u4001_img.selected {
}
#u4001.selected {
}
#u4001_img.disabled {
}
#u4001.disabled {
}
#u4002 {
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4004 {
  position:absolute;
  left:38px;
  top:119px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u4004_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4004.mouseDown {
}
#u4005 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4006 {
  position:absolute;
  left:42px;
  top:123px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u4006_img.selected {
}
#u4006.selected {
}
#u4006_img.disabled {
}
#u4006.disabled {
}
#u4007 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:37px;
  top:169px;
  width:309px;
  height:34px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:9px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u4011 {
  position:absolute;
  left:356px;
  top:175px;
  width:33px;
  height:20px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u4013 {
  position:absolute;
  left:43px;
  top:178px;
  width:27px;
  height:17px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4015 {
  position:absolute;
  left:325px;
  top:179px;
  width:12px;
  height:12px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4018 {
  position:absolute;
  left:28px;
  top:316px;
  width:362px;
  height:96px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:40px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4020 {
  position:absolute;
  left:28px;
  top:316px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4022 {
  position:absolute;
  left:32px;
  top:368px;
  width:293px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4024 {
  position:absolute;
  left:32px;
  top:343px;
  width:165px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4024_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4024.mouseOver {
}
#u4024_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4024.mouseDown {
}
#u4024_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4024.selected {
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u4026 {
  position:absolute;
  left:287px;
  top:382px;
  width:26px;
  height:21px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4028 {
  position:absolute;
  left:325px;
  top:385px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4030 {
  position:absolute;
  left:34px;
  top:387px;
  width:151px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4032 {
  position:absolute;
  left:271px;
  top:319px;
  width:119px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4035 {
  position:absolute;
  left:28px;
  top:420px;
  width:362px;
  height:96px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:40px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4037 {
  position:absolute;
  left:28px;
  top:420px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4039 {
  position:absolute;
  left:32px;
  top:472px;
  width:293px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4041 {
  position:absolute;
  left:32px;
  top:447px;
  width:165px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4041_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4041.mouseOver {
}
#u4041_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4041.mouseDown {
}
#u4041_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4041.selected {
}
#u4042 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u4043 {
  position:absolute;
  left:287px;
  top:486px;
  width:26px;
  height:21px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4045 {
  position:absolute;
  left:325px;
  top:489px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4047 {
  position:absolute;
  left:34px;
  top:491px;
  width:151px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4049 {
  position:absolute;
  left:271px;
  top:423px;
  width:119px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4052 {
  position:absolute;
  left:28px;
  top:526px;
  width:362px;
  height:96px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:40px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4054 {
  position:absolute;
  left:28px;
  top:526px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4056 {
  position:absolute;
  left:32px;
  top:578px;
  width:293px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4058 {
  position:absolute;
  left:32px;
  top:553px;
  width:165px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4058_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4058.mouseOver {
}
#u4058_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4058.mouseDown {
}
#u4058_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4058.selected {
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u4060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u4060 {
  position:absolute;
  left:287px;
  top:592px;
  width:26px;
  height:21px;
}
#u4061 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4062 {
  position:absolute;
  left:325px;
  top:595px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4064 {
  position:absolute;
  left:34px;
  top:597px;
  width:151px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4066 {
  position:absolute;
  left:271px;
  top:529px;
  width:119px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4067 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4069 {
  position:absolute;
  left:28px;
  top:630px;
  width:362px;
  height:96px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:40px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4071 {
  position:absolute;
  left:28px;
  top:630px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4073 {
  position:absolute;
  left:32px;
  top:682px;
  width:293px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4075 {
  position:absolute;
  left:32px;
  top:657px;
  width:165px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4075_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4075.mouseOver {
}
#u4075_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4075.mouseDown {
}
#u4075_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4075.selected {
}
#u4076 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u4077 {
  position:absolute;
  left:287px;
  top:696px;
  width:26px;
  height:21px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4079 {
  position:absolute;
  left:325px;
  top:699px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4081 {
  position:absolute;
  left:34px;
  top:701px;
  width:151px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4083 {
  position:absolute;
  left:271px;
  top:633px;
  width:119px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4085 {
  position:absolute;
  left:132px;
  top:275px;
  width:23px;
  height:23px;
}
#u4086 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4087 {
  position:absolute;
  left:132px;
  top:380px;
  width:23px;
  height:23px;
}
#u4088 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4089 {
  position:absolute;
  left:134px;
  top:485px;
  width:23px;
  height:23px;
}
#u4090 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4091 {
  position:absolute;
  left:133px;
  top:593px;
  width:23px;
  height:23px;
}
#u4092 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4093 {
  position:absolute;
  left:133px;
  top:693px;
  width:23px;
  height:23px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
