.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._流程形状 {
}
.image {
}
.box_2 {
}
._默认样式 {
}
._形状 {
}
._图片 {
  color:#000000;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._形状1 {
}
.headline {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.primary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.secondary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.primary_text_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.flat_button {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.shape {
}
.box_1 {
}
.image1 {
  color:#000000;
}
.horizontal_line {
}
.btn_lighttheme_raised_default {
  font-family:'Roboto Regular', 'Roboto';
  font-size:13px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
.btn_lighttheme_raised_primay {
  color:#FFFFFF;
}
.btn_lighttheme_raised_press {
  color:rgba(255, 255, 255, 0.698039215686274);
}
.btn_lighttheme_raised_disabled {
  color:rgba(0, 0, 0, 0.258823529411765);
}
.btn_lighttheme_flat_default {
  font-family:'Roboto Regular', 'Roboto';
  font-size:13px;
  color:#009688;
}
.btn_lighttheme_flat_press {
  color:rgba(0, 150, 136, 0.698039215686274);
}
.btn_lighttheme_flat_primary {
  color:#009688;
}
.btn_lighttheme_flat_disabled {
  color:rgba(0, 0, 0, 0.258823529411765);
}
.btn_darktheme_flat_default {
  font-family:'Roboto Regular', 'Roboto';
  font-size:13px;
  color:#80CBC4;
}
.btn_darktheme_flat_primary {
  color:#80CBC4;
}
.btn_darktheme_flat_press {
  color:#80CBC4;
}
.btn_darktheme_flat_disabled {
  color:rgba(255, 255, 255, 0.298039215686275);
}
.icon_lighttheme_default {
  font-family:'Roboto Regular', 'Roboto';
}
.icon_lighttheme_primary {
}
.icon_lighttheme_disabled {
}
.icon_lighttheme_pressdown {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.icon {
}
.box_21 {
  font-family:'Helvetica Regular', 'Helvetica';
}
.box_3 {
}
.ellipse {
}
.label1 {
  font-family:'Helvetica Regular', 'Helvetica';
  font-size:14px;
  text-align:left;
}
.box_11 {
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.primary_button {
  color:#FFFFFF;
}
._形状2 {
  font-size:13px;
  color:#000000;
}
.shape2 {
}
.horizontal_line1 {
}
._文本段落1 {
  text-align:left;
}
.placeholder {
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.link_button {
  color:#169BD5;
}
.icon1 {
}
._形状3 {
}
.hint_text {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.paragraph {
  text-align:left;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.box_12 {
}
.checkbox {
  text-align:left;
}
.text_field2 {
  color:#000000;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.snapshot {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.marker {
  color:#FFFFFF;
}
._形状4 {
}
.box_4 {
  color:#FFFFFF;
}
.line1 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.table {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.table_cell {
}
